html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.custom-bg-color {
    background-color: #67c7c5;
}

.custom-color {
    color: #67c7c5;
}

/* Custom CSS class for toaster center positioning */
.toaster-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Custom CSS for different Toastr colors */
.toaster-green {
    background-color: #4caf50; /* Green color for Add */
}

.toaster-yellow {
    background-color: #ffc107; /* Yellow color for Edit */
}

.toaster-red {
    background-color: #f44336; /* Red color for Delete */
}
